<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../components/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Clientes</h1>
            <h1>Produtos</h1>
        </div>
    </main>

    <footer>
        <%- include('../components/footer'); %>
    </footer>

</body>

</html>