<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home"><strong>Product Manager</strong></a>
  <ul class="navbar-nav mr-auto d-flex">
    <li class="nav-item">
      <a class="nav-link" href="/produtos">Buscar produtos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/editarProduto">Adicionar produto</a>
    </li>
  </ul>
</nav>